<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear/>
      <add name="iisnode" path="simple-server.js" verb="*" modules="iisnode" resourceType="Either" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="simple-server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      loggingEnabled="false"
      devErrorsEnabled="true"
      logDirectory="C:\Users\BobM\CascadeProjects\TallmanDashboard\logs\iisnode"
    />
  </system.webServer>
</configuration>