<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear/>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Dashboard Redirect" stopProcessing="true">
          <match url="^$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^Dashboard$" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
        <rule name="NextJS Static Files" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_URI}" pattern="^/_next/static/.*" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
        <rule name="NextJS Files" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="%SystemDrive%\Program Files\nodejs\node.exe"
      debuggingEnabled="false"
      loggingEnabled="true"
      logDirectory="iisnode"
      maxLogFiles="20"
      maxLogFileSizeInKB="128"
      watchedFiles="web.config;*.js"
      />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>